
<!-- Footer  -->
<div class="container-fluid footer" ng-controller="MainCtrl">
  <div class="container">
    <div class="bottomNavBar clearfix">
      <div class="col-sm-3">
        <p>FOLLOW DEVNET</p>
        <ul>
          <li><a href="https://twitter.com/ciscodevnet" target="_blank">Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UChRmUH4H5hiYzPiFhvNoCIg" target="_blank">YouTube</a></li>
          <li><a href="https://github.com/CiscoDevNet" target="_blank">GitHub</a></li>
        </ul>
        <p>DEVNET TOOLS</p>
        <ul>
          <li><a href="https://developer.cisco.com/site/devnet/sandbox/" target="_blank">Sandbox</a></li>
          <li><a href="https://developer.cisco.com/site/devnet/support/" target="_blank">Developer Support</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p>DEV CENTERS</p>
        <ul>
          <li><a href="https://developer.cisco.com/collaboration" target="_blank">Collaboration</a></li>
          <li><a href="https://developer.cisco.com/cloud" target="_blank">Cloud</a></li>
          <li><a href="https://developer.cisco.com/data-center" target="_blank">Data Center</a></li>
          <li><a href="https://developer.cisco.com/iot" target="_blank">IoT</a></li>
          <li><a href="https://developer.cisco.com/networking" target="_blank">Networking</a></li>
          <li><a href="https://developer.cisco.com/security" target="_blank">Security</a></li>
          <li><a href="https://developer.cisco.com/site/spg/index.gsp" target="_blank">Services</a></li>
        </ul>
        <p>COMMUNITY</p>
        <ul>
          <li><a href="https://communities.cisco.com/community/developer/content?filterID=contentstatus%5Bpublished%5D~objecttype~objecttype%5Bblogpost%5D" target="_blank">Blog</a></li>
          <li><a href="https://communities.cisco.com/community/developer" target="_blank">Forum</a></li>
          <li><a href="https://developer.cisco.com/site/devnet/events-contests/events/" target="_blank">Events</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p>JOIN DEVNET</p>
        <ul>
          <li><a href="https://developer.cisco.com/SSO/login" target="_blank">Register</a></li>
        </ul>
        <p>CISCO RESOURCES</p>
        <ul>
          <li><a href="http://www.cisco.com/" target="_blank">Cisco.com</a></li>
          <li><a href="https://solutionpartner.cisco.com/" target="_blank">Solution Partner Program</a></li>
          <li><a href="https://marketplace.cisco.com/catalog" target="_blank">Marketplace</a></li>
          <li><a href="https://supportforums.cisco.com/" target="_blank">Cisco Support Community</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <p>ABOUT DEVNET</p>
        <ul>
          <li><a href="https://developer.cisco.com/contactUs" target="_blank">Contact Us</a></li>
          <li><a href="https://developer.cisco.com/site/legal/terms-conditions.gsp" target="_blank">Terms and Conditions</a></li>
          <li><a href="http://www.cisco.com/web/siteassets/legal/privacy.html" target="_blank">Privacy Statement</a></li>
          <li><a href="http://www.cisco.com/web/siteassets/legal/privacy.html#cookies" target="_blank">Cookie Statement</a></li>
          <li><a href="http://www.cisco.com/web/siteassets/legal/trademark.html" target="_blank">Trademark</a></li>
          <li><a href="https://developer.cisco.com/site/devnet/faqs/" target="_blank">General FAQs</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div><a href="https://developer.cisco.com"><img class="devnet-image" src="images/ic_cisco_devnet.png"></a></div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="copyright">© Cisco Systems, Inc. 2014-{{now | date:'yyyy'}}</div>
    </div>
  </div>
</div>
