<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>

    <link rel="stylesheet" href="styles/cisco.css">

  </head>
  <body ng-app="ciscogithubioApp" ng-controller="MainCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

      <div class="container-fluid mainHeader">
        <div class="row">
          <div class="col-sm-12">
            <div class="container">
              <div class="row">
                <a class="navbar-brand" href="https://www.cisco.com"><img class="CiscoLogo" src="images/cisco-logo-white.png" alt="Cisco" /></a>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <slick settings="slickConfig" ng-if="slickConfigLoaded" dots="true">
                      <div ng-repeat="item in carouselData track by $index">
                          <div ng-include="'views/partials/carousel-tmpl.html'"></div>
                      </div>
                  </slick>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container">
    <div ng-view=""></div>
    </div>

    <div ng-include="'views/partials/footer.html'"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.4/angular-slick.min.js"></script>
    <script src="scripts/directives/dirPagination.js"></script>


    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/projectsvc.js"></script>
</body>
</html>
